:root {
    --text-color: #232C33;
    --text-color-sub: #ffffff;
}
@font-face {
    font-family: 'Pigment';
    src: url('./assets/fonts/pigment.woff2') format('woff2');
}
@font-face {
    font-family: 'ASAP';
    src: url('./assets/fonts/Asap-Regular.woff2') format('woff2');
    font-weight: 'normal';
}

*{
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}

.written-effect {
    display: inline-block;
    position: relative;
    color: var(--text-color);
    white-space: nowrap;
    overflow: hidden;
    animation: write 5s steps(30) infinite, shake 0.2s ease-in-out 1 forwards;
  }

@keyframes write {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-3px);
    }
    50% {
        transform: translateX(3px);
    }
    75% {
        transform: translateX(-2px);
    }
    100% {
        transform: translateX(0);
    }
}

body { 
    height: 100%;
    background-color: #ffcba4;
    overflow: hidden;
    display: flex; 
    flex-direction: row;
    font-family: 'ASAP';
    font-size: 30px; 
    color: var(--text-color);
}

main { 
    height: 100vh;
    display: flex; 
    flex-direction: column;
    flex: 8;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
}
.container {
    width: 100%; 
}

.headerContainer { 
    display: flex; 
    flex-direction: column;
    flex: 2;
    justify-content: center; 
    text-align: center;
}

.header { 
    font-family: 'Pigment';    
    font-size: 6rem;
    color: #232C33;
}

.navContainer {
    flex: 2; 
    width: 100%;
}

.nav { 
    display: flex;
    justify-content: center;
    padding: 50px 5px;
    gap: 20px;
}

button { 
    background-color: #232C33;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 1px 5px #9EAFBD;  
    padding: 40px 60px;
    cursor: pointer;
    transition: background-color 0.6s ease, color 0.6s ease;
}

button:hover { 
    background-color: #C8DBE4;
    color: black;
}

.btnTxt { 
    font-family: 'Pigment';
    font-size: 4rem;
    color: var(--text-color-sub);
}

footer { 
    width: 100%; 
    display: flex; 
    justify-content: flex-end;
}

.email{ 
    font-size: 1rem;
    margin-right: 20px;
    cursor: pointer;
}
.email p { 
    margin: 6px 0px;
    font-size: .7rem;
}

.sidePadding {
    flex: 1;
}





@media only screen and (max-width: 400px) {
    .nav {
        flex-direction: column;
    }

    button { 
        background-color: #7991A4;
    }

    .btnTxt { 
        font-size: 2rem;
        color: black;
    }
    .sidePadding {
        display: none;
    }
}