@keyframes write {
    0% { width: 0; } 
    100% { width: 100%; }
}

@keyframes slide {
    0% { opacity: 1;  transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-100%); }
}

@keyframes zoom { 
    0% { 
        opacity: 0; 
        transform: scale(0.5); 
        transform-origin: center;
    }
    100% { 
        opacity: 1; 
        transform: scale(1);
        transform-origin: center;
    }
}


@keyframes zoom-reverse {
    0% {
        opacity: 1;
        transform: scale(1);
        transform-origin: center;
    }
    100% {
        opacity: 0;
        transform: scale(0.2);
        transform-origin: center;
    }
}

.container .zoom {
    animation: zoom 2s forwards;
}

.written-effect {
    display: inline-block;
    position: relative;
    color: var(--title-color); 
    white-space: nowrap; 
    overflow: hidden;
    animation: write 3s steps(30);
}

.slide {
    animation: slide 3s forwards;
}

.zoom { 
    animation: zoom 2s forwards; 
}

.zoom-reverse { 
    animation: zoom-reverse 2s forwards; 
}

@media only screen and (max-width: 480px) and (orientation: portrait) {
    .written-effect { 
        white-space: normal;
        max-width: 100%;
        overflow: hidden; 
    }
}