@font-face {
    font-family: 'Pigment';
    src: url('../assets/fonts/pigment.woff2') format('woff2');
}
@font-face {
    font-family: 'ASAP';
    src: url('../assets/fonts/Asap-Regular.woff2') format('woff2');
    font-weight: 400;
}


:root {
    --title-color: #333333;
    --text-color: #1C1C1C;
    --text-color-sub: #E6E6E6;
    --button-color: #6A2C3C;
    --background: #ffcba4;
    --foreground: #ffb990;
    --title-font: 'Pigment';
    --sub-font: 'ASAP';
}

*{
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
    position: relative;
}

html { 
    position: relative;
    z-index: -4;
    overflow: hidden;
}

a {
    text-decoration: none;
}

body { 
    height: 100vh;
    margin: 0;
    background-color: var(--background);

    display: flex; 
    justify-content: center;
    align-items: center;

    font-family: var(--sub-font);
    font-size: 30px; 
    color: var(--text-color);
    position: relative;
    z-index: 0;
}

main { 
    width: 100%;
    height: 100%;
    border-radius: 6px;
    padding: 10px 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 0;
}

.container {
    max-width: 90vw;
    max-height: 90vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: var(--foreground);
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
}

/* Content Ids */
#index { 
    visibility: visible;
    z-index: 1;
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

#portfolio { 
    visibility: hidden;
    z-index: -10;
}

#about { 
    visibility: hidden;
    z-index: -10;
}



.header-container { 
    display: flex; 
    flex-direction: column;
    text-align: center;

    margin-top: 10vh;
    position: relative;
    z-index: 3;
}

.mob-view { 
    display: none;
}

.header { 
    font-family: var(--title-font);    
    font-size: 6rem;
    text-align: left;
}
.large-screen { 
    text-align: left;
}

.nav-buttons {
    display: flex; 
    justify-content: center;
    margin-top: 50px;

    position: relative;
    z-index: 3;
}

.button {
    background: none;
    border: 3px solid var(--text-color);
    border-radius: 7px;

    padding: 0.5rem 1.5rem;
    margin: 0 1rem;

    font-size: 1.2rem;
    color: var(--text-color);
    text-align: center;
    text-decoration: none;

    cursor: pointer;
    transition: all 0.3s ease;

    position: relative;
    z-index: 3;
}

.button:hover {
    background-color: var(--button-color);
    border-color: var(--button-color);
    box-shadow: 1px 1px 1px rgba(230, 230, 230, 0.5);
    color: var(--text-color-sub);
}

.button:disabled{ 
    border: none;
    background-color: grey;
    color: silver;
    cursor: no-drop;
}

.menu:disabled { 
    border: none;
    color: silver;
    cursor: no-drop;
}

.button:disabled::after,
.menu:disabled::after {
    content: "Coming Soon";
    position: absolute;
    bottom: -20px;
    left: 30%;
    transform: translateX(-50%);
    font-family: var(--sub-font);
    background-color: var(--button-color);
    color: white;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.button:disabled:hover::after,
.menu:disabled:hover::after {
    visibility: visible;
    opacity: 1;
}

footer { 
    width: 100%; 
    display: flex; 
    justify-content: flex-end;
}


.contact { 
    display: flex; 
    flex-direction: column;
    row-gap: 0.2rem;
    align-items: center;
    padding: 20px; 

    position: relative;
    z-index: 3;
}

.contact p { 
    opacity: .8;
}

.links {
    display: flex;
    align-items: center;
    column-gap: 0.3rem;
}

.contact p {
    color: var(--title-color);
    font-size: 1.1rem;
}

.link-image img {
    height: 50px;
    width: auto;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.link-image img:hover {
    transform: scale(1.1);
}


/*  Portfolio  */
.menu { 
    background: none;
    border: none; 
    padding: 10px;

    color: var(--button-color);
    font-family: var(--title-font);
    font-size: 2rem;

    cursor: pointer;  
    margin-right: 20px;
    transition: color 0.2s ease-in-out;
}

.menu:hover { 
    color: var(--title-color);
    font-style: italic;
}

.right-container { 
    flex: 6; 
    padding: 20px;
}

.collection { 
    width: 95%;
    height: 95%;
    display: flex; 
    justify-content: space-around;
    align-items: flex-start;
}

.project {
    display: flex;
    width: 35%;
    max-height: 30%; 
    padding: 10px;
    border-radius: 8px; 
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}
.project:hover { 
    transform: scale(1.05);
}

.project a { 
    flex: 2; 
    margin-right: 10px;
}
.project img { 
    max-height: 100%;
    max-width: 100%; 
    object-fit: contain; 
}
.project p { 
    flex: 3;
    align-self: end;
    font-size: 0.8rem;
    color: #112A46;
    margin: 0 5px 10px 0;
}
.project span { 
    margin: 0 5px; 
}

.goodfat { 
    background-color: #f6e6ff;
}

#modal { 
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; 
    z-index: 9999;
    width: 100%; 
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    visibility: hidden;

}
.modal-contents { 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 90%;
    width: 80%;
    border-radius: 6px;
}
.demo { 
    display: flex; 
    align-items: flex-start;
    height: 100%;
    width: auto;
    animation: none;
}

.demo video{
    object-fit: contain; 
    max-height: 100%;
    width: auto;
}

.close-btn {
    background: none;
    border: none; 
    color: var(--button-color);
    font-size: 28px;
    font-weight: bold;
    text-shadow:
        -1px -1px 0 var(--text-color-sub),  
        1px -1px 0 var(--text-color-sub),
        -1px 1px 0 var(--text-color-sub),
        1px 1px 0 var(--text-color-sub);
    margin-left: 10px;
    transition: all 0.2s ease-in;
}

.close-btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}
  


@media only screen and (max-width: 480px) and (orientation: portrait) {
    html, body {
        overflow-x: hidden;
        overflow-y: hidden;
        position: relative;
    }
    .header-container { 
        flex: 0; 
        margin-top: 10vh;
        padding: 0 10px;
    }
    .container {
        flex-direction: column;
    }
    .large-screen { 
        display: none;
    }
    .mob-view { 
        display: block;
        text-align: left;
    }
    .nav-buttons {
        display: flex; 
        flex-direction: column;
    }
    .lastname { 
        padding: 0 20px; 
    }

    .button { 
        margin-bottom: 10px;
    }
    

    /* Portfolio */
    .left-container { 
        flex: 0; 
        flex-direction: row;
        align-items: center;
        padding-bottom: 10px;
    }
    .menu { 
        font-family: var(--title-font);
        justify-content: space-between;
    }
    .right-container { 
        flex: 6; 
    }
    .goodfat-container p { 
        display: none; 
    }
    .goodfat-container {
        width: 100%; 
    } 
}


/* Animations */ 
@keyframes write {
    0% { width: 0; } 
    100% { width: 100%; }
}

@keyframes slide {
    0% { opacity: 1;  transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-100%); }
}

@keyframes zoom-in { 
    0% { 
        opacity: 0;
        transform: scale(0.5); 
    }
    100% { 
        opacity: 1; 
        transform: scale(1);
    }
}

@keyframes zoom-reverse {
    0% {
        opacity: 1;
        transform: scale(1);
        transform-origin: center;
    }
    100% {
        opacity: 0;
        transform: scale(0.2);
        transform-origin: center;
    }
}

.written-effect {
    display: inline-block;
    position: relative;
    color: var(--title-color); 
    white-space: nowrap; 
    overflow: hidden;
    animation: write 3s steps(30);
}

.slide {
    animation: slide 3s forwards;
}

.zoom-in { 
    animation: zoom-in 2s forwards; 
    opacity: 0; 
}

.zoom-in:nth-child(1) { animation-delay: 0.4s; }
.zoom-in:nth-child(2) { animation-delay: 0.8s; }
.zoom-in:nth-child(3) { animation-delay: 0.12s; }
.zoom-in:nth-child(4) { animation-delay: 0.16s; }

.zoom-reverse { 
    animation: zoom-reverse 2s forwards; 
}


@media only screen and (max-width: 480px) and (orientation: portrait) {
    .written-effect { 
        white-space: normal;
        max-width: 100%;
        overflow: hidden; 
    }
}