@font-face {
    font-family: 'Pigment';
    src: url('../assets/fonts/pigment.woff2') format('woff2');
}
@font-face {
    font-family: 'ASAP';
    src: url('../assets/fonts/Asap-Regular.woff2') format('woff2');
    font-weight: 400;
}


:root {
    --title-color: #333333;
    --text-color: #1C1C1C;
    --text-color-sub: #E6E6E6;
    --button-color: #6A2C3C;
    --background: #ffcba4;
    --foreground: #ffb990;
    --title-font: 'Pigment';
    --sub-font: 'ASAP';
}

*{
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}

a {
    text-decoration: none;
}

body { 
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
            
    background-color: var(--background);
    font-family: var(--sub-font);
    color: var(--text-color);
    overflow: hidden;
    position: relative;
    z-index: -2;
}

.page-container {
    height: 90%;
    width: 90%;

    background-color: var(--foreground);
    border-radius: 6px;

    position: relative;
    z-index: -1;
}

.main-container { 
    height: 100%;
    width: 100%;
    padding: 10px 30px;
}

.text { 
    font-size: 30px; 
}


/* Home */
#home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top { 
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    margin-top: 100px;
    position: relative;
    z-index: 3;
}

.mob-view {
    display: none;
}

.header {
    font-family: var(--title-font);
    font-size: 6rem;
    text-align: left;
}

.large-screen {
    text-align: left;
}

footer {
    width: 100%;
    flex: 4;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border: 1px solid #000;
}

.contact {
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;
    align-items: center;
    padding: 20px;

    position: relative;
    z-index: 3;
}

.contact p {
    opacity: .8;
}

.links {
    display: flex;
    align-items: center;
    column-gap: 0.3rem;
}

.contact p {
    color: var(--title-color);
    font-size: 1.1rem;
}

.link-image img {
    height: 50px;
    width: auto;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.link-image img:hover {
    transform: scale(1.1);
}

.nav-buttons {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    position: relative;
    z-index: 3;
}

.button {
    background: none;
    border: 3px solid var(--text-color);
    border-radius: 7px;

    padding: 0.5rem 1.5rem;
    margin: 0 1rem;

    font-size: 1.2rem;
    color: var(--text-color);
    text-align: center;
    text-decoration: none;

    cursor: pointer;
    transition: all 0.3s ease;

    position: relative;
    z-index: 3;
}

.button:hover {
    background-color: var(--button-color);
    border-color: var(--button-color);
    box-shadow: 1px 1px 1px rgba(230, 230, 230, 0.5);
    color: var(--text-color-sub);
}

.button:disabled {
    border: none;
    background-color: grey;
    color: silver;
    cursor: no-drop;
}

.menu:disabled {
    border: none;
    color: silver;
    cursor: no-drop;
}

.button:disabled::after,
.menu:disabled::after {
    content: "Coming Soon";
    position: absolute;
    bottom: -20px;
    left: 30%;
    transform: translateX(-50%);
    font-family: var(--sub-font);
    background-color: var(--button-color);
    color: white;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.button:disabled:hover::after,
.menu:disabled:hover::after {
    visibility: visible;
    opacity: 1;
}

.visible {
    visibility: visible !important;
    height: 100%;

    animation: zoom-in 3s forwards;
}

.hidden {
    visibility: hidden;
    z-index: -9999;
    position: relative;
    animation: slide-out 2s forwards;
}

.shrink { 
    height: 0%;
}


#portfolio { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 4;
}

#about { 
    visibility: hidden;
    z-index: -9999;
}


/*  Portfolio  */
.collection { 
    width: 95%;
    height: 95%;
    display: flex; 
    justify-content: space-around;
    align-items: flex-start;
}

.project {
    display: flex;
    width: 35%;
    max-height: 30%; 
    padding: 10px;
    border-radius: 8px; 
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.project:hover { 
    transform: scale(1.05);
}

.project a { 
    flex: 2; 
    margin-right: 10px;
}
.project img { 
    max-height: 100%;
    max-width: 100%; 
    object-fit: contain; 
}
.project p { 
    flex: 3;
    align-self: end;
    font-size: 0.8rem;
    color: #112A46;
    margin: 0 5px 10px 0;
}

.nimble-img { 
    border-radius: 10px;
}

.goodfat { 
    background-color: #f6e6ff;
}

#modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: auto;
    max-width: 600px;
    width: 90%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.modal-container p {
    font-size: 16px;
    color: #333;
    text-align: center;
    margin: 20px 0;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff6666;
    color: #fff;
    border: none;
    border-radius: 30%;
    width: 30px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.close-btn:hover {
    background-color: #ffcccc;
    cursor: pointer; 
}

.modal-contents {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;

}
  


@media only screen and (max-width: 480px) and (orientation: portrait) {
    html, body {
        overflow-x: hidden;
        overflow-y: hidden;
        position: relative;
    }
    .header-container { 
        flex: 0; 
        margin-top: 10vh;
        padding: 0 10px;
    }
    .container {
        flex-direction: column;
    }
    .large-screen { 
        display: none;
    }
    .mob-view { 
        display: block;
        text-align: left;
    }
    .nav-buttons {
        display: flex; 
        flex-direction: column;
    }
    .lastname { 
        padding: 0 20px; 
    }

    .button { 
        margin-bottom: 10px;
    }
    

    /* Portfolio */
    .left-container { 
        flex: 0; 
        flex-direction: row;
        align-items: center;
        padding-bottom: 10px;
    }
    .menu { 
        font-family: var(--title-font);
        justify-content: space-between;
    }
    .right-container { 
        flex: 6; 
    }
    .goodfat-container p { 
        display: none; 
    }
    .goodfat-container {
        width: 100%; 
    } 
}


/* Animations */ 
@keyframes write {
    0% { width: 0; } 
    100% { width: 100%; }
}

@keyframes slide-out {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

@keyframes zoom-in { 
    0% { 
        opacity: 0;
        transform: scale(0.5); 
    }
    100% { 
        opacity: 1; 
        transform: scale(1);
    }
}

@keyframes zoom-out {
    0% {
        opacity: 1;
        transform: scale(1);
        transform-origin: center;
    }
    100% {
        opacity: 0;
        transform: scale(0.2);
        transform-origin: center;
    }
}

.written-effect {
    display: inline-block;
    position: relative;
    color: var(--title-color); 
    white-space: nowrap; 
    overflow: hidden;
    animation: write 3s steps(30);
}

.zoom-in { 
    animation: zoom-in 1.5s forwards;
}

.slide-out {
    animation: slide-out 2s forwards;
}

.zoom-reverse { 
    animation: zoom-reverse 2s forwards; 
}


@media only screen and (max-width: 480px) and (orientation: portrait) {
    .written-effect { 
        white-space: normal;
        max-width: 100%;
        overflow: hidden; 
    }
}