@font-face {
    font-family: 'Pigment';
    src: url('../assets/fonts/pigment.woff2') format('woff2');
}
@font-face {
    font-family: 'ASAP';
    src: url('../assets/fonts/Asap-Regular.woff2') format('woff2');
    font-weight: 400;
}


:root {
    --title-color: #333333;
    --text-color: #2a2a2a;
    --text-color-sub: #E6E6E6;
    --button-color: #6A2C3C;
    --background: #ffcba4;
    --foreground: #ffb990;
    --title-font: 'Pigment';
    --sub-font: 'ASAP';

    --goodfat-text-colour: #513063;
    --goodfat-bgcolour: #f6e6ff;
    --nimble-text-colour: #a04251;
    --bean-text-colour: #710000;
    --bean-bgcolour: #fdf9ea;
}

*{
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}

a {
    text-decoration: none;
}
a:visited { 
    color: inherit;
}

html { 
    overflow: hidden;
}

body { 
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
            
    background-color: var(--background);
    font-family: var(--sub-font);
    color: var(--text-color);
    font-size: 30px;

    overflow: hidden;
    position: relative;
    z-index: -2;
}

.page-container {
    height: 90%;
    width: 90%;

    background-color: var(--foreground);
    border-radius: 6px;

    position: relative;
    z-index: -1;
}

.main-container { 
    height: 100%;
    width: 100%;
    padding: 10px 30px;
    position: relative; 
    z-index: 4;
}

/* Home */
#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    margin-top: 100px;
}

.header {
    font-family: var(--title-font);
    font-size: 6rem;
    text-align: left;
}

.footer {
    width: 100%;
    flex: 4;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.contact {
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;
    align-items: center;
    padding: 20px;

    position: relative;
    z-index: 3;
}

.links {
    display: flex;
    align-items: center;
    column-gap: 0.3rem;
}

.links a img { 
    height: 50px;
    width: auto;
    object-fit: contain;
    cursor: pointer;
}

/*nav menu*/
.nav-buttons {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.nav-button {
    background: none;
    border: 3px solid var(--text-color);
    border-radius: 7px;

    padding: 0.5rem 1.5rem;
    margin: 0 1rem;

    font-size: 1.2rem;
    color: var(--text-color);
    text-align: center;
    text-decoration: none;

    cursor: pointer;
    transition: all 0.3s ease;
}

.nav-button.hover:hover {
    transform: none;
    background-color: var(--button-color);
    border-color: var(--button-color);
    box-shadow: 1px 1px 1px rgba(230, 230, 230, 0.5);
    color: var(--text-color-sub);
}

#home.hidden,
#portfolio.hidden { 
    height: 0%;
    opacity: 0;
    z-index: -99999;
}

/*  Portfolio  */
#portfolio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
    overflow: auto;
}

.portfolio-nav { 
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.collection { 
    width: 95%;
    height: 95%;
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    margin-left: 30px;
}
.collection h3 {
    margin-bottom: 20px;
}
.projects {
    display: flex;
}

.project {
    height: 220px;
    width: auto;
    max-width: 400px;
    padding: 10px;
    margin: 0px 20px;
    border-radius: 8px; 
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.project img { 
    width: 100%;
    height: 100%;
    flex: 2;
    margin-right: 10px;
    border-radius: 10px;
    object-fit: contain; 
}
.goodfat { 
    background-color: #f6e6ff;
}

.nimble { 
    padding: 20px;
    background-color: #ffffff;
}
.beanscene {
    padding: 20px;
    background-color: #fdf9ea;
}

.hover {
    transition: all 0.4s ease;
}

.hover:hover {
    transform: scale(1.1);
}


/* Modal properties */
.modal-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    visibility: hidden;
}

.modal-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.159);
    z-index: -5;
}

.modal-container {
    display: flex;
    flex-direction: column;
    height: auto;
    max-width: 700px;
    width: 90%;
    border-radius: 8px;
    padding: 40px 20px;
    transition: transform 0.3s ease;
}

.modal-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 10px;
}

.modal-title img {
    width: 50%;
    object-fit: contain;
    margin: 0 auto;
}

.close-btn {
    border: none;
    background-color: #FFD8A8;
    color: #fff;
    border-radius: 30%;
    width: 30px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}
.close-btn:hover {
    background-color: #FFB377;
}

.modal-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    font-size: 16px;
    padding: 20px;
    text-align: center;
}

.modal-contents { 
    text-align: left;
    line-height: 1.8;
}

.modal-contents p { 
    margin-bottom: 5px;
}

.modal-contents ul {
    margin-left: 40px;
    margin-bottom: 10px;
    line-height: 1.4;
}

.modal-button-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 20px;
    flex-wrap: wrap;
}

.modal-button { 
    padding: 10px 20px;
    border-radius: 8px;
    text-align: center;
    transition: all 0.3s ease;
    border: 2px solid transparent;
    cursor: pointer;
}
.modal-button:hover { 
    box-shadow: 1px 1px 1px rgba(230, 230, 230, 0.5);
}

.modal-button.goodfat {
    color: var(--goodfat-text-colour);
    border: 2px solid var(--goodfat-text-colour);
}

.modal-button.goodfat:hover { 
    background-color: #2f2441;
    color: var(--goodfat-bgcolour);
    border: 2px solid var(--goodfat-bgcolour);
}

.goodfat-modal-properties {
    background-color: var(--goodfat-bgcolour);
    color: var(--goodfat-text-colour);
}

.nimble-modal-properties {
    background-color: #ffffff;
    color: #000;
}

.modal-button.nimble {
    color: var(--nimble-text-colour);
    border: 2px solid var(--nimble-text-colour);
}
.modal-button.nimble:hover {
    background-color: var(--nimble-text-colour);
    border: 2px solid var(--nimble-text-colour);
    color: #ffffff;
}

.beanscene-modal-properties {
    background-color: var(--bean-bgcolour);
    color: var(--bean-text-colour);
}
.modal-button.beanscene {
    color: var(--bean-text-colour);
    border: 2px solid var(--bean-text-colour);
}
.modal-button.beanscene:hover {
    background-color: var(--bean-text-colour);
    border: 2px solid var(--bean-text-colour);
    color: var(--bean-bgcolour);
}

/* Animations */ 
@keyframes write {
    0% { width: 0; } 
    100% { width: 100%; }
}

.written-effect {
    display: inline-block;
    position: relative;
    color: var(--title-color);
    white-space: nowrap;
    overflow: hidden;
    opacity: 1 !important;
    animation: write 3s steps(30);
}


@keyframes zoom-in {
    0% { opacity: 0; transform: scale(0.5); }
    100% { opacity: 1; transform: scale(1); }
}

@keyframes zoom-out {
    0% { opacity: 1; transform: scale(1); }
    100% { opacity: 0; transform: scale(0.5); }
}

@keyframes slide-out {
    0% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-100%); }
}

.zoom-in { 
    animation: zoom-in 2s forwards;
}

.slide-out {
    animation: slide-out 3s forwards;
}


/* Styling for mobile */
@media only screen and (max-width: 600px) and (orientation: portrait) {
    .written-effect { 
        white-space: normal;
        max-width: 100%;
        overflow: hidden; 
    }

    .modal-container {
        padding: 20px 10px;
        max-width: 90%;
        border-radius: 12px;
    }
    
    .modal-title img {
        width: 70%;
    }
    
    .modal-contents {
        flex-direction: column;
        align-items: center;
        font-size: 14px;
        line-height: 1.5;
        padding: 0 10px;
    }
    
    .modal-button {
        font-size: 14px;
        padding: 10px 15px;
    }

    .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 25px;
        height: 25px;
        font-size: 12px;
    }

    .collection { 
        flex-direction: column;
        padding: 10px;
        margin-left: 0px;
    }

    .header {
        text-align: center;
    }
}


@media (max-width: 768px) {
    .modal-icon {
        display: none;
    }
    .modal-button-container { 
        padding-top: 0px;
    }
    .modal-title img { 
        padding-top: 10px;
    }
    .projects {
        flex-direction: column;
        align-items: center;
    }
    .project { 
        width: 100%;
        margin: 10px 0px;
    }
}